### Setup

In [1]:
import pandas as pd
import numpy as np     # optional - used for some examples

### Simple Series Object

In [2]:
# Data as a list of integers.
data = [101, 4, 23, 8, 27, -3]
s1 = pd.Series(data)
type(s1)

pandas.core.series.Series

In [3]:
# The index is a series of integers starting at zero, by default.
s1

0    101
1      4
2     23
3      8
4     27
5     -3
dtype: int64

In [4]:
# If we pass values of different datatypes, pandas will upgrade the datatype to the nearest posible type.
data = [101, 4.3, 5]
s1b = pd.Series(data)
s1b

0    101.0
1      4.3
2      5.0
dtype: float64

### Value retrieval / setting

In [5]:
# The values of the Series.
s1.values

array([101,   4,  23,   8,  27,  -3], dtype=int64)

In [6]:
# The indices of the numpy.ndarray.
s1.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
# Index based value retrieval.
s1[1]

4

In [9]:
# Set value based on index
s1[2] = 405
s1

0    101
1      4
2    405
3      8
4     27
5     -3
dtype: int64

### Perform operations

In [10]:
# Calculating the arithmetic average.
s1.mean()

90.33333333333333

In [11]:
# Calculate the cumulative sum.
s1.cumsum()

0    101
1    105
2    510
3    518
4    545
5    542
dtype: int64

In [12]:
# Vector multiplication.
s1 * 3

0     303
1      12
2    1215
3      24
4      81
5      -9
dtype: int64

In [13]:
# Logarithm
np.log(s1)

C:\Users\Dell\Anaconda3_6\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log

0    4.615121
1    1.386294
2    6.003887
3    2.079442
4    3.295837
5         NaN
dtype: float64

### Custom indices / labels

In [14]:
# Create custom labels for random values.
index = ['A', 'B', 'C', 'D', 'E', 'F']
data = np.random.randn(6)
data
s2 = pd.Series(data, index)
s2

A    1.457961
B    1.149340
C   -0.976270
D    0.350278
E   -1.589988
F    0.523033
dtype: float64

In [15]:
# Meaningful labels to the values and/or the index.
s2.name = 'Price'
s2.index.name = 'Stock'
s2

Stock
A    1.457961
B    1.149340
C   -0.976270
D    0.350278
E   -1.589988
F    0.523033
Name: Price, dtype: float64

### Series from a dictionary

In [17]:
# Series from dictionary is (of course) not ordered. Keys are used for the index.
d = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
s4 = pd.Series(d)
s4

one      1
two      2
three    3
four     4
five     5
dtype: int64

### Slicing

In [18]:
# Slicing based on index
s4[1:3]

two      2
three    3
dtype: int64

In [20]:
# Slicing based on labels
s4['one':'three']

one      1
two      2
three    3
dtype: int64

### Enumeration

In [22]:
# looping over collection
for i, v in enumerate(s4):
    print(i, v)

0 1
1 2
2 3
3 4
4 5

In [23]:
# list comprehension
s4b = [x**2 for x in s4]
s4b

[1, 4, 9, 16, 25]

### Dict-like behaviour

In [24]:
# is the key in the series
'four' in s4

True

In [25]:
# custom index retrieval
s4['four']

4

In [26]:
# custom index assignament
s4['four'] = 999
s4['four']

999

In [27]:
# Convert Series to a dictionary (looses order).
d4 = s4.to_dict()
d4

{'one': 1, 'two': 2, 'three': 3, 'four': 999, 'five': 5}

In [24]:
# ... and back again (only when found a index mapping - type float!)
s4b = pd.Series(d4, index=['one', 'two', 'three', 'six', 'seven'])
s4b

one       1
two       2
three     3
six     NaN
seven   NaN
dtype: float64

### Munging

In [25]:
# Boolean query for NaN's
s4nan = s4b.isnull()
s4nan

one      False
two      False
three    False
six       True
seven     True
dtype: bool

In [26]:
# Extract the NaN's from the Series
s4b[s4nan]

six     NaN
seven   NaN
dtype: float64

In [27]:
# Drop the NaN's
s4b = s4b.dropna()
s4b

one      1
two      2
three    3
dtype: float64